# Example Config for External Search Definition
# Name: IO_HTTP_LOG

input {

  file {
      mode => "tail"
      path => ["c:/psft/cfg/webserv/peoplesoft/servers/PIA/logs/PIA_access.LOG"]
      ecs_compatibility => v8
  }

}

filter {

    # drop comment lines
    if ([message] =~ /^#/) {
      drop{}
    }
    if ([message] =~ "/cs/") {
      drop {}
    }

    # WL Extended Log Format
    grok {
      patterns_dir => "c:/psft/elk/patterns"
      match => { "message" => "%{WL_IO_EXTENDED}"}
      remove_tag => ["_grokparsefailure"]
    }

    if [tag] == "_grokparsefailure" {
      grok{
        match => { "message" => "%{COMMONAPACHELOG}"}
        remove_tag => ["_grokparsefailure"]
      }
    }

    if [request] {
      grok {
        patterns_dir => "c:/psft/elk/patterns"
        match => {"request" => "%{PS_URI_REQUEST}"}
        remove_tag => ["_grokparsefailure"]
      }
    }

    useragent {
      source => "useragent"
    }
    
    mutate {
      copy => {"message" => "log_line"}
    }
    
    mutate {
      convert => {"duration" => "float"}
      convert => {"bytes" => "integer"}
    }

    # Fix for tab-delimted time field... build a new field in a friendly format
    mutate {
      add_field => {
        "datetime" => "%{year}-%{month}-%{day} %{time}"
      }
    }
    date {
      match => ["datetime", "yyyy-MM-dd HH:mm:ss"]
      remove_field => [ "datetime" ]
    }
    mutate {
      add_field => { "psft_timestamp" => "%{@timestamp}" } 
    }

    prune {
      whitelist_names => ["^host$", "^portal$", "^wl_timestamp$", "^request$", "^webserver$", "^content_type$", "^auth$", "^duration$", "^bytes$", "^minor$", "^os$", "^servlet$", "^major$", "^forwardedFor$", "^useragent$", "^component$", "^verb$", "^port$", "^day$", "^path$", "^device$", "^response$", "^node$", "^name$", "^month$", "^menu$", "^server$", "^componentName$", "^os_name$", "^oprid$", "^market$", "^site$", "^log_line$", "^message$", "^build$", "^year$", "^psft_timestamp$", "^query_string$", "^weblibRec$", "^weblibField$", "^weblibEvent$", "^weblibFunc$", "^weblib$", "^PSFT_MAPPING$"]
    } 


}

output {

  elasticsearch {
    hosts => ["http://hr.lab.psadmin.oraclevcn.com:9200/"] 
    manage_template => false
    index => "io_http_log_psftdb" # Must be lowercase
    user => "esadmin" 
    password => "Passw0rd" # Plaintext password for now
  }

  stdout { }
}
